watchdog
streamlit==1.24.0
protobuf==3.20.1
st-annotated-text==3.0.0
streamlit-extras==0.2.7
streamlit-option-menu==0.3.2
streamlit-toggle-switch
streamlit-lottie
streamlit-authenticator~=0.2.1
markdownlit~=0.0.6
streamlit-aggrid==0.3.3  # 0.3.4 does not work well.
streamlit_chat==0.0.2.2
